
.yoga-container{
    background-image: url('https://i.pinimg.com/736x/2a/bb/7b/2abb7b07c57e26743bdd3a005c49b05d.jpg');
    height: 100vh;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}