.notice-board-div {
    padding: 1rem 8rem 10rem 8rem;
}

.notice-board-img {
    padding-bottom: 2rem;
    font-size: 40px;
    text-align: center;
    font-weight: bold;
}

.notice-board-card{
    border-radius: 8px;
    background-color: #016795;
    color: white;
    padding: 2em 0em 2em 12em;
}

.notice-board-content {
    width    : 720px;
    height   : 500px;
    overflow : hidden;
    position : relative;
}

iframe
{
    position : absolute;
    top      : -150px;
    left     : -100px;
    width    : 1280px;
    height   : 1200px;
}

@media screen and (max-width: 750px) {
    .notice-board-content {
        padding: 1rem;
    }

    .notice-board-card{
        padding: 0;
    }

    .notice-board-div {
        padding: 1rem;
        height: 100vh;
        margin-bottom: 18rem;
    }
}