
.science-container{
    background-image: url('https://i.pinimg.com/originals/f5/20/bc/f520bca8d6fcf3f6b46e05963d123b23.jpg');
    height: 100vh;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}