
.pravasana-container{
    background-image: url('https://images.fineartamerica.com/images/artworkimages/mediumlarge/3/comedy-and-tragedy-theater-masks-black-line-john-schwegel.jpg');
    height: 100vh;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}