
.nss-container{
    background-image: url('https://www.kindpng.com/picc/m/499-4997195_social-workers-associations-logo-hd-png-download.png');
    height: 100vh;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}